body {
    padding: 70px;
}

.flag {
    padding: 80px 15px;
    text-align: center;
}

.registerContainer{
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContainer .column {
    flex-grow: 0;
    background-color: #fff;
    width: 450px;
    min-height: 300px;
    padding: 20px 35px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}