body {
    padding-top: 305px;
}

.flag {
    padding: 80px 15px;
    text-align: center;
}

.registerContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContainer .column {
    flex-grow: 0;
    background-color: #fff;
    width: 450px;
    min-height: 300px;
    padding: 20px 35px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.registerContainer .column .header {
    padding: 20px 0px;
}

.registerContainer .column .header .img {
    width: 100px;
}

.registerContainer .column .header .h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}

.registerContainer .column .header .span {
    font-size: 14px;
}

.registerContainer .column .registerForm {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}
.registerContainer .column .registerForm .name {
    display: block;
}

.loginContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer .column {
    flex-grow: 0;
    background-color: #fff;
    width: 450px;
    min-height: 300px;
    padding: 20px 35px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.loginContainer .column .header {
    padding: 20px 0px;
}

.loginContainer .column .header .img {
    width: 100px;
}

.loginContainer .column .header .h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}

.loginContainer .column .header .span {
    font-size: 14px;
}